/* Balise de la page du site */

body {
    background-color: #DEDEDE;
}

.main {
    position: relative;
    height: 100%;
    min-height: 400px;
    margin-top: 200px;
}

/* Balise du boutton pour le CV en Français */

.CVfr {
    position: relative;
    left: 15%;
    float: left;
}

.CVfr button {
    width: 300px;
    height: 400px;
    background-color: #474747;
    border-bottom: 1px;
    border-color: #474747;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px -5px #00000070;
}

.CVfr button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.CVfr p {
    color: white;
}

/* Balise du boutton pour le CV en Anglais */

.CVen {
    position: relative;
    right: 15%;
    float: right;
}

.CVen button {
    width: 300px;
    height: 400px;
    background-color: #474747;
    border-bottom: 1px;
    border-color: #474747;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px -5px #00000070;
}

.CVen button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.CVen p {
    color: white;
}

/* Condition si la largeur de l'écran fait 1000px ou moins */

@media only screen and (max-width: 1000px) {

    .main {
        margin-top: 250px;
    }

    .CVfr {
        float: none;
        left: 0%;
        margin-bottom: 50px;
    }

    .CVfr button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .CVen {
        float: none;
        right: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .CVen button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}