.main {
    position: relative;
    top: 150px;
    height: 900px;
}

.form-coucou {
    position: relative;
    width: 500px;
    left: 30%;
    padding: 40px;
    background-color: #474747;
    border-bottom: 1px;
    border-color: #474747;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px -5px #00000070;
}

.form-coucou legend{
	font-weight: bold;
	color: white;
	text-align: left;
}

.form-coucou div {
    margin-top: 10px;
}

.form-coucou label {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
  }

.form-coucou input, select {
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

.form-coucou input[type=text], .form-coucou input[type=radio], .form-coucou input[type=email]{
	border: none;
	border-bottom: 1px solid white;
	background-color: #FFFFFF;
	display: 16px;
	color: black;
}

.form-coucou input[type=text],  .form-coucou input[type=email]{
    width: 200px;
    height: 30px;
}

.form-coucou input[type=submit], input[type=reset] {
    border-radius: 5px;
    border-color: #474747;
    height: 30px;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #474747;
}

.form-coucou input[type=submit]:hover, input[type=reset]:hover {
    background-color: #474747;
    color: #FFFFFF;
    border-color: #FFFFFF;
    transition: 0.3s;
}

.form-coucou .subtitre {
    text-align: center;
    color: #fff;
    font-size: 10px;
    margin-left: 25px;
}
